@import 'theme/variables';
$theme-color1:#4c2fbf;
$theme-color2:#2e9de4;
$gradient1: #4c2fbf;
$gradient2: #2e9de4;
@import 'theme/style';
@import 'theme/menu';
@import 'theme/theme-dark';
@import 'theme/responsive';
